@model IEnumerable<ComponentesMexica.Data.Models.ErrorReporter>

@{
    ViewData["Title"] = "Index";
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.userid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reported)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Error)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.userid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reported)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Error)
            </td>
        </tr>
}
    </tbody>
</table>
