@model Order
@{
    ViewData["Title"] = "Paypal";
}
<h1>Paypal</h1>
<script src="https://www.paypal.com/sdk/js?client-id=AbOhaEymTIqt9WvgswEg9zsUV_A1tCrXoxJ2ChbadL5t27oOrIw1cvwrHtobbQ14JB6ZkkaUNtn4xTta&currency=MXN">
    // Required. Replace SB_CLIENT_ID with your sandbox client ID.
</script>
<div class="row" id="data">
    <div class="col-12">
        <h4 class="mb-3">Datos Personales</h4>
        <form asp-action="Fase2" method="post">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Nombre</label>
                    <input type="text" class="form-control" id="firstName" placeholder="Tu Nombre" readonly value="@Model.Nombre">
                    <div class="invalid-feedback">
                        Valid first name is required.
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="lastName">Apellidos</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Tus apellidos" readonly value="@Model.Apellidos">
                    <div class="invalid-feedback">
                        Valid last name is required.
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6 mb-3">
                    <label>N&uacute;mero</label>
                    <input readonly class="form-control" placeholder="Tu numero de celular" value="@Model.Numero" />
                </div>
                <div class="col-md-6 mb-3">
                    <label>Metodo de pago</label>
                    <input readonly class="form-control" value="@Model.MetodoPago" />
                </div>
            </div>
            <div class="mb-3">
                <label for="address">Direcci&oacute;n</label>
                <input type="text" class="form-control" id="address" placeholder="1234 Main St" readonly value="@Model.Direccion">
                <div class="invalid-feedback">
                    Por favor coloca tu direcci&oacute;n para poder realizar la entrega.
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 mb-3">
                    <label for="country">Estado</label>
                    <input type="text" value="@Model.Estado" readonly class="form-control" />
                    <div class="invalid-feedback">
                        Please select a valid country.
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="state">Codigo Postal</label>
                    <input type="text" value="@Model.CP" readonly class="form-control" />
                    <div class="invalid-feedback">
                        Seleccione uno.
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="zip">Colonia</label>
                    <input type="text" readonly class="form-control" value="@Model.Colonia"/>
                    <div class="invalid-feedback">
                        Seleccione uno.
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="salir" style="display:none;">
    <dialog id="dialog" class="border"><a asp-action="Index" asp-controller="Home" class="btn btn-outline-success">Salir</a></dialog>
</div>

<div id="paypal-button-container" class="row" style="align-items:center;"></div>
<script>
    var datas = document.getElementById('myModal');
    paypal.Buttons({
        createOrder: function (data, actions) {
            // This function sets up the details of the transaction, including the amount and line item details.
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '@ViewBag.Total',
                        description:'@Model.RefPago'
                    }
                }],
            });
        },
        onApprove: function (data, actions) {
            // This function captures the funds from the transaction.
            return actions.order.capture().then(function (details) {
                // This function shows a transaction success message to your buyer.
                
                alert('Se ha completado tu pago');
                let data = document.getElementById('data');
                let div = document.getElementById('salir');
                let pay = document.getElementById('paypal-button-container');
                data.style.display = 'none';
                pay.style.display = 'none';
                div.style.display = 'block';
                document.getElementById('dialog').showModal();
            });
        }
    }).render('#paypal-button-container');
  //This function displays Smart Payment Buttons on your web page.
</script>