@model IEnumerable<ComponentesMexica.Data.Models.GanadorRifa>

@{
    ViewData["Title"] = "Lista";
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.userid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rifaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadTickets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroWin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.userid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rifaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadTickets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroWin)
            </td>
            <td>
            </td>
        </tr>
}
    </tbody>
</table>
